{% extends 'master.html' %}


{% block content %}


<script  type="text/javascript">

$( document ).ready(function() {
    $('.datetimepicker').datetimepicker(
      {
        format:	'm/d/Y',
        timepicker:false,
      }
    );
});


</script>

<div class="container">

  <h2>Гэрээний анги солилт</h2><br>

  <div>
    <p class="text-danger">
      Анги солиход 88,000₮ ны төлбөр ноогдохыг анхаарна уу.
    </p>
    {% if form.errors %}
      <p class="text-danger">Өөр анги сонгоно уу. Гэрээн дээрхи өмнөх ангийг сонгох боломжгүй юм.</p>
    {% endif %}
  </div>
  <form method="post">

    {% csrf_token %}
    <div class="col-sm-5">

        <div class="form-group">
          {{ form.class_change.label_tag }}
          {{ form.class_change }}
        </div>
      <div class="form-group">
        {{ form.course.label_tag }}
        {{ form.course }}
      </div>
      <div class="form-group">
        {{ form.txn_method.label_tag }}
        {{ form.txn_method }}
      </div>
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>


        <div class="btn-toolbar">
          <button class="btn btn-sm btn-info" type="submit">Хадгалах</button>
          <a href="{% url 'contract_detail' id %}" class="btn btn-sm grey">Буцах</a>
        </div>

    </div>

    </form>

</div>



{% endblock %}
