{% extends 'master.html' %}

{% block content %}

<script  type="text/javascript">

$( document ).ready(function() {


    var d = document.getElementById("id_txn_type");
    d.className += " form-control";

    var a = document.getElementById("id_txn_date__gt");
    a.className += " form-control datetimepicker";

    var b = document.getElementById("id_txn_date__lt");
    b.className += " form-control datetimepicker";


    $('.datetimepicker').datetimepicker(
      {
        format:	'm/d/Y',
        timepicker:false,
      }
    );
});


</script>


    <!-- Modal -->
      <div class="no-print modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Шүүлтүүр</h4>
            </div>
            <form class="" action="" method="get" target="">
                <div class="modal-body">
                  <div class="form-group">
                      <label for="id_txn_date__gt">Эхлэх огноо:</label>
                      {{filter.form.txn_date__gt}}
                  </div>
                  <div class="form-group">
                      <label for="id_txn_date__gt">Дуусах огноо</label>
                      {{filter.form.txn_date__lt}}
                  </div>
                  <div class="form-group">
                      {{filter.form.txn_type.label_tag}}
                      {{filter.form.txn_type}}
                  </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-sm" type="submit">Шүүх</button>
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Хаах</button>
                </div>
            </form>
          </div>

        </div>
      </div>


          <table class="table table-striped">
              <tbody>
                  <tr>
                      <td>
                          Орлого
                      </td>
                      <td class="money">
                          {{income}}
                      </td>
                      <td>
                          Зарлага
                      </td>
                      <td class="money">
                          {{expense}}
                      </td>
                  </tr>
              </tbody>

          </table>


    <div class="no-print row">
        <div class="col-sm-6">
                <a href="{% url 'home' %}" class="btn btn-sm btn-alert pull-left">&nbsp;Буцах</a>
        </div>
        <div class="col-sm-6">
            <div class="btn-group pull-right">
                <a href="javascript:window.print()" class="btn btn-sm btn-primary">
                    <i class="fa fa-print"></i> Хэвлэх
                </a>
                <a href="{% url 'transaction_add' %}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> &nbsp;Гүйлгээ бүртгэл</a>
                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">Шүүх</button>
            </div>
        </div>
    </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">
          Төрөл
        </th>
        <th class="text-center">
          Гүйлгээ хийгдсэн арга
        </th>
        <th class="text-center">
          Дүн
        </th>
        <th class="text-center">
          Огноо
        </th>
        <th>
            Тайлбар
        </th>
        <th class="no-print">

        </th>
      </tr>
    </thead>
    <tbody>

      {% for each in filter.qs %}
      <tr>
        <td class="text-center">
          {{each.get_txn_type}}
        </td>
        <td class="text-center">
          {{each.get_txn_method}}
        </td>
        <td class="text-center money">
          {{each.amount}}
        </td>
        <td class="text-center">
          {{each.txn_date}}
        </td>
        <td class="text-center">
          {{each.info}}
          {% if each.contract.contract_number %}
            , Гэрээний дугаар - {{each.contract.contract_number}}
          {% endif %}
        </td>

        <td width="30%" class="no-print">
          <div class="btn-group pull-right">
            {% if each.txn_type not in expense_list %}
                {% if each.verified %}
                    <div class="btn btn-success btn-sm">
                        Бататгагдсан
                    </div>
                {% else %}
                    <a href="{% url 'transaction_verify' each.pk %}" class="btn btn-primary btn-sm">Бататгах</a>
                {% endif %}
            {% endif %}

            {% if each.verified %}
            {% else %}
                <a href="{% url 'transaction_edit' each.pk %}" class="btn btn-warning btn-sm">Засах</a>
                <a href="{% url 'transaction_delete' each.pk %}" class="btn btn-alert btn-sm">Устгах</a>
            {% endif %}
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td class="text-center" colspan="6">
          Хоосон байна.
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
